<div class='modal fade' id='modal_doctor_edit' tabindex='-1' role='dialog' aria-labelledby='modal_doctor_edit' aria-hidden='true'>
  <div class='modal-dialog modal-ml' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='exampleModalLabel'>
          Cadastrar Novo Doutor
        </h5>

        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>

      <div class='modal-body'>
        <%= form_tag(doctor_path('doctor'), method: 'patch') do %>
          <%= hidden_field_tag 'doctor[id]' %>
          Nome
          <%= text_field_tag 'Nome', nil, class: 'form-control mb-2', name: 'doctor[name]', autocomplete: 'off', required: true %>
          CRM
          <%= text_field_tag 'CRM', nil, maxlength: 7, name: 'doctor[crm]', class: 'form-control mb-2', autocomplete: 'off', required: true %>
          CRM UF
          <%= select_tag('CRM UF', options_for_select(all_uf_brazilian), name: 'doctor[crm_uf]', class: 'custom-select')  %>

          <div class='actions mt-3'>
            <%= button_tag 'Atualizar Doutor', class: 'btn btn-home btn-success float-right' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>